body {
  background : linear-gradient(#bdc3c7,#2c3e50) no-repeat;
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  background-size: cover;
}
h1 {
  color: #03e9f4;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: global_font;
  src: url(sansation_light.woff);
}

.login-container {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-container h2 {
  margin: 0 0 30px;
  color: aliceblue;
  padding: 0;
  text-align: center;
}

.login-container .user-box {
  position: relative;
}

.login-container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: aliceblue;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  background: transparent;
}

.login-container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: aliceblue;
  font-size: 16px;
  transition: 0.5s;
  pointer-events: none;
}

.login-container .user-box input:focus~label,
.login-container .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-container form button {
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  background: transparent;
  outline: none;
  border: 1px solid #03e9f4;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;
  position: relative;
  left: 100px;
}

.login-container form button:hover {
  background-color: #03e9f4;
  color: #000;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}